<div class="flex-col f1" style="gap:2rem;overflow:auto;max-height:calc(100dvh - 220px - env(safe-area-inset-bottom));scrollbar-width:none">
    <div class="flex jcsb aic">
        <h4>Welcome!</h4>
        <small>Today's <b>@DateTime.Now.ToString("d MMMM, yyyy")</b></small>
    </div>
    <div class="flex-col">
        <p style="color:#25D366" class="sub-header">
            <b style="font-weight:500;font-size:18px">Events today</b>
            @(todaysEvents.Length > 0 ? $"({todaysEvents.Length})" : "")
        </p>
        @if (todaysEvents.Length == 0)
        {
            <small class="muted-color">No events today.</small>
        }
        <div class="flex-col g0">
            @foreach (var evt in todaysEvents)
            {
                <div class="flex jcsb aic">
                    <p>@evt.Name  @((MarkupString)GreeterExtensions.FormattedNumber(evt.Date))</p>
                    <div class="flex aic g0">
                        <Button Type="ButtonType.Ghost" Style="padding:4px;zoom:70%" OnClick="() => greeterService.SendSMS(evt)">
                            <img src="sms.png" />
                        </Button>
                        <Button Type="ButtonType.Ghost" Style="padding:4px;zoom:70%" OnClick="() => greeterService.SendWhatsApp(evt)">
                            <img src="whatsapp.png" />
                        </Button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="flex-col">
        <div class="flex jcsb aic">
            <p style="color:#FA8128" class="sub-header">
                <b style="font-weight:500;font-size:18px">Upcoming events</b>
                @(upcomingEvents.Length > 0 ? $"({upcomingEvents.Length})" : "")
            </p>
            <div class="flex aic">
                <small class="muted-color">Days</small>
                <Select TItem="int" Display="x => x.ToString()" Placeholder="Choose days..." Items="[10, 30, 60, 90, 120, 150]"
                        SelectedItem="eventsUpcomingDays" OnItemSelect="UpdateList"
                        Width="85px" ListWidth="85px" />
            </div>
        </div>
        @if (upcomingEvents.Length == 0)
        {
            <small class="muted-color">No upcoming events in next @eventsUpcomingDays days.</small>
        }
        @foreach (var evt in upcomingEvents)
        {
            <div class="flex jcsb aifs">
                <p>@evt.Name @((MarkupString)GreeterExtensions.FormattedNumber(evt.Date))</p>
                <small class="muted-color">@((MarkupString)GreeterExtensions.ShowCustomDate(evt.Date))</small>
            </div>
        }
    </div>
</div>

@code
{
    EventModel[] todaysEvents = [];
    EventModel[] upcomingEvents = [];
    ICollection<EventModel> models = [];
    int eventsUpcomingDays = 10;

    protected override async Task OnInitializedAsync()
    {
        eventsUpcomingDays = int.Parse(await browserExtensions.GetFromLocalStorage("upcomingEventsDays") ?? "10");
        models = await greeterService.LoadEvents();
        EvaluateEvents(models);
    }

    private void EvaluateEvents(ICollection<EventModel> models)
    {        
        if (models.Count > 0)
        {
            var today = DateTime.Now;
            todaysEvents = models.Where(x => x.Date.Day == today.Day && x.Date.Month == today.Month).ToArray();

            upcomingEvents = models.Where(x =>
                int.Parse(x.Date.ToString("Mdd")) > int.Parse(today.ToString("Mdd")) &&
                int.Parse(x.Date.ToString("Mdd")) <= int.Parse(today.AddDays(eventsUpcomingDays).ToString("Mdd"))
                )
                .OrderBy(x => x.Date.Month)
                .ThenBy(x => x.Date.Day)
                .ToArray();
        }
    }

    private async Task UpdateList(int days)
    {
        eventsUpcomingDays = days;
        await greeterService.LoadEvents();
        EvaluateEvents(models);
        await browserExtensions.SetToLocalStorage("upcomingEventsDays", eventsUpcomingDays.ToString());
        await InvokeAsync(StateHasChanged);
    }    
}